{% extends 'base.html' %}
{% load static %}

{% block sub-nav %}
    At PyMENA, we are a group of people with a common interest
    
    <h3>Learning, teaching and spreading the Python programming language</h3>
    
    As well as sharing our experiences using or learning the
    Python programming language to build our projects or using Python based tools to do so.

    <div class="logo-python-full">
        <img src="{% static 'img/python-logo-full.png' %}" alt="">
    </div>

    We also look forward to meet and spread the knowledge and support interesting initiatives and Open Source projects
    in the region no matter where they are.
{% endblock %}

{% block content %}
    <h1>About</h1>
    <div class="about-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Python.png" alt="">
    </div>
    <p>

        At PyMENA, we are a group of technology enthusiasts with passion about teaching, learning and spreading the usage
        of the Python Programming Language, we welcome all levels of people, from beginners to professionals, the only requirement
        is to have passion about technology and programming.
    </p>

    <p>
        Python is a programming language that lets you work more quickly and integrate your systems more effectively. Its clear and
        concise syntax lets you do more by writing less and the best part is that it doesn't have a high entry barrier and it keeps
        a low slope learning curve.
    </p>

    <p>
        To learn more about Python, click <a href="https://www.python.org/about/" target="_blank">here</a>.
    </p>

    <p>
        This site is currently under construction, we will be adding sections as they're ready, meanwhile, enjoy the links. :-)
    </p>
    <div class="container content">
    
        <div class="row features">
            <div class="col-sm">
                <span class="fa fa-book icon" title="book" aria-hidden="true"></span>
                <h3>Learn</h3>
                A curated list of resources about Python
                <div>
                    <a href="https://github.com/vinta/awesome-python" class="btn btn-primary mybutton">Awesome Python</a>
                </div>
            </div>
            <div class="col-sm">
                <span class="fa fa-calendar icon" title="icon name" aria-hidden="true"></span>
                <h3>Meet</h3>
                A worldwide Python events calendar
                <div>
                    <a href="https://www.python.org/events/calendars/" class="btn btn-primary mybutton">Python events</a>
                </div>
            </div>
            <div class="col-sm">
                <span class="fa fa-envelope icon" title="icon name" aria-hidden="true"></span>
                <h3>Ask</h3>
                Join the mailing list and let us help you
                <div>
                    <a href="https://groups.google.com/forum/#!forum/pymena" class="btn btn-primary mybutton">Mailing list</a>
                </div>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm">
                <span class="fa fa-address-book icon" title="icon name" aria-hidden="true"></span>
                <h3>Say Hi!</h3>
                Contact us, just send us an email
                <div>
                    <a href="mailto:hi@pymena.org" class="btn btn-primary mybutton">Contact</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    <div class="page-footer footer">
        PyMENA, 2018. All rights and lefts reserved.
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
     integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
     integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
