<!DOCTYPE html>
{% load static %}
{% load static wagtailuserbar %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PyMENA.org</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113167503-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113167503-1');
    </script>
</head>
    
<body>
    <div class="header">
        <div id="main-logo">
            <img src="{% static 'img/python-logo.png' %}" alt="Python Logo">
        </div>
    </div>
    <ul class="nav justify-content-center nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.python.org/events/calendars/">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:hi@pymena.org">Contact</a>
        </li>
    </ul>
    <div class="sub-nav">
        <div class="container">
            <div class="subnav-text">
                {% block sub-nav %}{% endblock %}

            </div>

        </div>
    </div>
    <div class="container m-bottom-50">
        {% block content %}{% endblock %}
    </div>

    <div class="page-footer footer">
        PyMENA, 2018. All rights and lefts reserved.
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
     integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
     integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
