#main-logo {
    height: 200px;
    width: 200px;
    margin: 0px auto 0px auto;
}
.nav {
    background-color: #3E617C;
}
.nav-link:hover {
    color: #FCCD41;
}
.nav-link {
    color: #F6F7EF;
}
.sub-nav {
    background-color: #5283AD;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: #F6F7EF;
}
.sub-nav > h3 {
    margin-top: 5px;
}
h3 {
    color: #FCCD41;
}
.subnav-text {
    margin-left: auto;
    margin-right: auto;
}
.footer {
    background-color: #3E617C;
    color: white;
    text-align: center;
}
.logo-python-full {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.about-img {
    float: left;
    display: inline;
}
.m-bottom-50 {
    margin-bottom: 50px;
}
.icon {
    font-size: 5em;
    color: #3D6B91;
}
.features {
    text-align: center;
}
h2 {
    color: #3D6B91;
}
.content {
    margin-bottom: 100px;
}
.mybutton {
    margin-top: 5px;
    background-color: #3E617C;
    border-color: #3E617C;
}
.mybutton:hover {
    background-color: #3E617C;
    border-color: #3E617C;
    color: #FCCD41;
}
.features > div {
    margin-top: 25px;
}
.header {
    padding-top: 20px;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}
